api.sir-rabbit.ru {
	reverse_proxy localhost:8055
}

sir-rabbit.ru {
	handle /assets* {
		reverse_proxy localhost:8055
	}
	handle /items* {
		reverse_proxy localhost:8055
	}
	handle /files* {
		reverse_proxy localhost:8055
	}

	reverse_proxy localhost:3004

	log {
		level DEBUG
		output stderr
	}
}

www.sir-rabbit.ru {
	reverse_proxy localhost:3004
}

club-cafe.ru {
	redir https://sir-rabbit.ru
}
